body{
	text-align: center !important;
}
p{
	color: aliceblue;
	margin-top: 20px;
	font-size: 30px;
	text-shadow: 1px 1px 2px;
	
}
#p_white{
	color:aliceblue;
}
input{
	text-align: center;
}
#LangTable{
    margin-bottom: 15px;
}
.form-card{
    background-color: #3a3741;
    border-radius: 10px;
    margin-top: 130px;
	box-shadow: 5px 5px 5px;
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}


